/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1 {
  text-align: center;
}

input, button {
  position: relative;
  left: 40%
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

img{
  display: block;
  margin: 0 auto;
  height: 200px
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/